$body-color:                           #2f2e33 !default;
$link-color:                           #3a5199 !default;
$primary:                              #3a5199 !default;
$secondary:                            #5b5d55 !default;
$success:                              #007412 !default;
$info:                                 #975e39 !default;
$warning:                              #ffc107 !default;
$danger:                               #dc3545 !default;
$light:                                #f8f9fa !default;
$dark:                                 #2f2e33 !default;
$gray-100:                             #fbfcf8 !default;
$gray-200:                             #eff0ec !default;
$gray-300:                             #d5d6d2 !default;
$gray-400:                             #c1c2bc !default;
$gray-500:                             #a8aaa2 !default;
$gray-600:                             #5b5d55 !default;
$gray-700:                             #41433d !default;
$gray-800:                             #272824 !default;
$gray-900:                             #212529 !default;
$header_background_color:              #000000 !default;
$header_text_color:                    #ffffff !default;
$header_link_color:                    #ffffff !default;
$header_icon_color:                    #ffffff !default;
$footer_background_color:              #323a4d !default;
$footer_text_color:                    #ffffff !default;
$footer_link_color:                    #ffffff !default;
$footer_icon_color:                    #ffffff !default;
$main_nav_background_color:            #000000 !default;
$main_nav_link_color:                  #ffffff !default;
$side_nav_background_color:            #c5cfa6 !default;
$side_nav_heading_color:               #323a4d !default;
$side_nav_link_color:                  #178f3d !default;
$session_flyout_background_color:      #2f2e33 !default;
$session_flyout_text_color:            #ffffff !default;
$session_flyout_link_color:            #ffffff !default;
$session_flyout_icon_color:            #ffffff !default;
$nav_flyout_background_color:          #2f2e33 !default;
$nav_flyout_link_color:                #ffffff !default;
$nav_flyout_title_color:               #ffffff !default;
$breadcrumb-divider:                   "/" !default;